table, form, input, td, th, p, textarea, select {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

body {
    background: #fff;
}

#page-body {
    height: 100%!important;
}

.row {
    height: 100%!important;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000; }

a:link, a:visited {
    text-decoration: none;
    color: #3b73af;
}

a:hover, a:active {
    text-decoration: underline;
}

.row .pane-content {
    background-color: #f5f5f5;
}

#executors a.model-link.inside {
    background: none repeat scroll 0 0 #F5F5F5!important;
    color: #3B73AF;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0 3px 0 0;
    width: 100%;
    max-width: 100%;
    padding: 3px 5px 3px 3px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
}

.icon-hourglass {
    float: right;
}

/* header panel */

#header {
    background: none repeat scroll 0 0 #205081;
    background-color: #205081;
    height: 41px;
    border-bottom: solid #3d3d3d 1px;
}

#header td#login-field span a {
    background: none;
}

div.burger-button {
    height: 40px;
    width: 36px;
    color: white;
    font-size: 16px;
    display: inline-block;
    position: relative;
    float: left;
    top: 0px;
    padding-top: 8px;
    margin-left: 10px;
    vertical-align: top;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    margin-right: -10px;
    user-select: none;
}

div.burger-button:hover, div.burger-button.selected {
    background-color: #3572B0 !important;
}

span.burger-button {
    height: 16px;
    width: 16px;
    margin-left: 11px;
}

#burger-menu {
    position: absolute;
    width: 160px;
    float: left;
    z-index: 10000 !important;
    top: 41px;
    left: 10px;
    background-color: #fff;
    border-radius: 0px 0px 2px 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px 0px;    
    margin: 2px 0px;
    padding-left: 0px;
    display: none;
}

#burger-menu div {
    margin: 0px;
    padding: 0px;
    border: solid #3d3d3d 1px;
}

#burger-menu ul {
    list-style: outside none none;
    width: 100%;    
}

#burger-menu a:hover {
    background-color: #3572B0;
    color: white !important;
}

#burger-menu a {
    color: #333;
    padding: 3px 10px;
    text-decoration: none;
    width: 100%;
    display: block;
}

#breadcrumbs {
    border-bottom: 1px solid #ccc;
}

#breadcrumbs li:hover {
    background-color: #e6e6e6!important;
}

.smallfont {
    text-transform: lowercase;
    font-size: 13px;
}

.logo {
    background: url("jenkins_logo.png") 0 no-repeat;
    display: block;
    width: 330px;
    height: 40px;
    margin: 0px 0 0px 10px;
}

.logo img {
    display: none;
}

#search-box {
    width: 175px !important;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    height: 1.71428571428571em;
    line-height: 1.71428571428571;
    position: static;
    font-size: 16px;
    padding: 5px 10px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.2);
}

#searchform > a > img {
    display: none;
}

.top-sticker-inner, #footer-container {
    background-color: #f5f5f5;
    padding: 12px 0px;
}

/* project status */

.dashboard .pane-frame {
    margin-bottom: 20px;
    position: relative;
    border: 0px solid #ccc;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 1px 0 #e7f0f8;
    color: #666;
}

#side-panel .pane-frame:hover {
    border:none!important;
}

#side-panel .pane-frame {
    border:none!important;
}

.bigtable th {
    background-color: #fff;
    text-transform: uppercase;
}

.sortheader {
    padding-left: 1px;
    font-weight: normal;
    font-size: 12px;
    text-transform: lowercase;
}

.sortheader:first-letter {
    text-transform: uppercase;
}

#projectstatus tr{
    background: #fff;
    border: solid;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-color: #ccc;
}

#projectstatus tr th:first-child, .bigtable tr th:first-child {
    padding: 10px;
}

#projectstatus tr:hover {
    background-color: #f7f7f7;
}

#projectstatus tr:nth-of-type(odd) {
    background-color: white;
}

#projectstatus tr:nth-of-type(odd):hover {
    background-color: #f7f7f7;
}

#projectstatus tr:nth-of-type(even) {
    background-color: white;
}

#projectstatus tr:nth-of-type(even):hover {
    background-color: #f7f7f7;
}

.bigtable {
    border:1px solid #dcdcdc;
    background-color: #fff;
}


.top-sticker, .noedge {
    top: 43px;
    left: 0px;
    font-size: 14px;
}

/* left navigation */

#left-top-nav {
    border-left: none;
}

/* side panel  */

td.pane {
    background-color: inherit;
}


.pane-header a:link, .pane-header a:visited {
    text-decoration: none;
}

div.pane-header {
    text-decoration: none;
    border-right: none;
    border-left: none;
    font-weight: bold;
    font-size: 13px;
    min-height: 24px;
    padding: 4px 64px 4px 0px;
    line-height: 1.666666666667;
}

div.pane-header, div.pane-header a:link, div.pane-header a:visited {
    text-decoration: none;
    color: #707070;
    background-color: inherit;
    border-width: 0px;
    text-transform: uppercase;
}

.col-sm-9, .col-md-7, .col-lg-6, .col-xlg-4 {
    max-width: 300px;
}

#side-panel {
    background-color: #f5f5f5!important;
    padding-left: 0!important;
    padding-right: 0!important;
    height: 100%!important;
    border: solid #ccc;
    border-top-width: 0;
    border-right-width: 1px;
    border-left-width: 0;
    border-bottom-width: 1px;
    box-shadow: 0 1px 0 #e7f0f8;
    min-height: 800px;
}

#side-panel .task a {
    text-decoration: none;
    font-size: 14px;
    width: 10%;
}

#side-panel .task a + a {
    width: 83%;
    padding: 4px;
}

#side-panel .task a + a:hover {
    background-color: #e6e6e6;
    text-decoration: none;
}

table.progress-bar.red td.progress-bar-done {
    background-color: #3465a4;
}

table.progress-bar.red {
    border: 1px solid #3465a4;
}

td.progress-bar-done {
    background-color: #3465a4;
}


/* main panel  */

#description {
    background-color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    padding: 15px 25px 14px;
    border: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 #e7f0f8;
    color: #000;
}

#description-link .icon-notepad {
    display: none;
}

#view-message #description a img {
    padding-right: 4px;

}

#main-panel {
    background-color: #fff;
}

#main-panel > h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.25;
    margin-top: 10px;
}

#main-table {
    border-top: 0;
    border-bottom: 0;
}

.tabBar {
    overflow: auto;
    background-color: #f5f5f5;
    border: solid #ccc;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    margin: 2px;
}

.tab {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.tab.active {
    border: none!important;
}

.tabBar [type=radio]:checked ~ a {
    border: none!important;
    color: inherit!important;
    background: #f5f5f5;
}

.tabBar .tab a.addTab {
    border: none!important;
}

.tabBar .tab a {
    color: #3b73af;
    position: relative;
    display: block;
    border-width: 0px;
    text-decoration: none;
    padding: 10px 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.tabBar .tab a:hover {
    background-color: #e5e5e5;
}

#viewList {
    border: none;
    margin-bottom: 0px;
    margin-top: 20px;
    width: 100%;
    white-space: nowrap;
}

#viewList td.inactive a:hover {
    border-color: #000000;
}

#viewList td.active {
    border-bottom: none;
    vertical-align: middle;
    font-weight: bold;
    white-space: nowrap;
    background: #f2f2f2;
    background: -moz-linear-gradient(top,#fff 0,#f2f2f2 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,#fff 0,#f2f2f2 100%);
    background: -o-linear-gradient(top,#fff 0,#f2f2f2 100%);
    background: -ms-linear-gradient(top,#fff 0,#f2f2f2 100%);
    background: linear-gradient(top,#fff 0,#f2f2f2 100%);
    border-color: #ccc;
    border-width: 1px;
    color: #333;
    margin: 0;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    height: auto;
    text-indent: 0;
    width: auto;
}

/* footer panel  */

#footer {
    border-top: 0 none;
    text-align: center;
    color: #707070;
}


#footer a:link, #footer a:visited {
    color:#707070;
}

/* Console output */
.console-output {
    font-size:14px;
    background-color:#393939;
    color:#b5c4d0;
    padding:20px 20px 30px;
    border-radius:3px;
    /*box-shadow*/
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.32);
    /*background-clip*/
    -webkit-background-clip: padding-box;
    -moz-background-clip: /*@@prefixmycss->No equivalent*/;
    background-clip:padding-box;
    /*@@prefixmycss->No equivalent*/
    : ;
    /*border-radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

#spinner {
    margin-top: 15px;
}

body>pre a,body>pre a:visited,#main-panel pre a,#main-panel pre a:visited {
    color:#9a8eb8;
}

th.pane {
    color: #f5f5f5!important;
}

tr.permission-row:nth-child(even) {
    background-color: #e0f0ff;
}

/* Dooney */

.doony-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.doony-downstream-link {
    display: block;
}

.doony-circle {
    border-radius: 50%;
}

.doony-circle-aborted {
    background: #999;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #cccccc 0%, #999999 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #cccccc, #999999);
    background-image: radial-gradient(circle at 3px 3px, #cccccc 0%, #999999 100%);
}

.doony-circle-failure {
    background: #ac2925;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #d9534f 0%, #ac2925 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #d9534f, #ac2925);
    background-image: radial-gradient(circle at 3px 3px, #d9534f 0%, #ac2925 100%);
}

.doony-circle-success {
    background: #397439;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #72d472 0%, #397439 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #72d472, #397439);
    background-image: radial-gradient(circle at 3px 3px, #72d472 0%, #397439 100%);
}

.doony-circle-warning {
    background: #f0ad4e;
    background-image: -moz-radial-gradient(3px 3px 45deg, circle cover, #f0ad4e 0%, #d58512 100%);
    background-image: -webkit-radial-gradient(3px 3px, circle cover, #f0ad4e, #d58512);
    background-image: radial-gradient(circle at 3px 3px, #f0ad4e 0%, #d58512 100%);
}





